# Variabili di ambiente - Copia in .env per customizzare

# === Database MySQL ===
DB_HOST=mysql-1d1c76ca-iisgalvanimi-651a.k.aivencloud.com
DB_USER=avnadmin
DB_PASSWORD=""passowr""
DB_NAME=defaultdb
DB_PORT=14237

# === Keycloak ===
KEYCLOAK_SERVER_URL=http://keycloak:8080
KEYCLOAK_REALM=registro-realm
KEYCLOAK_CLIENT_ID=registro-backend
KEYCLOAK_CLIENT_SECRET=your-client-secret
